
<web-app>

<servlet>
<servlet-name>servlet1</servlet-name>
<servlet-class>servlet1</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>servlet1</servlet-name>
<url-pattern>/servlet1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>servlet2</servlet-name>
<servlet-class>servlet2</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>servlet2</servlet-name>
<url-pattern>/servlet2</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>servlet3</servlet-name>
<servlet-class>servlet3</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>servlet3</servlet-name>
<url-pattern>/servlet3</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>photo</servlet-name>
<servlet-class>photo</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>photo</servlet-name>
<url-pattern>/photo</url-pattern>
</servlet-mapping>

</web-app>

